# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Android
android/app/build/
android/app/.gradle/
android/.gradle/
*.apk
*.aab

# IDE
.vscode/
.idea/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db

# Expo
.expo/
.expo-shared/

# Misc
*.log
*.pid
*.seed
*.pid.lock

# Environment
.env
.env.local
.env.*.local
